- name: Add Docker's official GPG key
  shell: |
          apt update
          apt install ca-certificates curl
          install -m 0755 -d /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          chmod a+r /etc/apt/keyrings/docker.asc

          tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          apt update
  become: true

- name: Install the Docker packages
  shell:  apt install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  become: true

- name: Install required packages
  package:
    name:
      - unzip
      - curl
    state: present

- name: Download AWS CLI v2
  get_url:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp/awscliv2.zip
    mode: '0644'

- name: Unzip AWS CLI installer
  unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp/
    remote_src: yes

- name: Install AWS CLI
  command: /tmp/aws/install
  args:
    creates: /usr/local/bin/aws

- name: Verify AWS CLI installation
  command: aws --version
  register: aws_version
  changed_when: false

- name: Display AWS CLI version
  debug:
    msg: "{{ aws_version.stdout }}"

- name: Get DB secrets from AWS
  shell: aws secretsmanager get-secret-value --secret-id {{ aws_secret_id }} --query SecretString --output text
  register: db_secret

- name: Parse DB secrets
  set_fact:
    db_secrets: "{{ db_secret.stdout | from_json }}"

- name: Ensure /opt/app/ directory exists
  file:
    path: /opt/app/
    state: directory
    mode: '0755'

# - name: Write Docker environment file
#   copy:
#     dest: /opt/app/.env
#     content: |
#       POSTGRES_USER={{ db_secrets.DB_USER }}
#       POSTGRES_PASSWORD={{ db_secrets.DB_PASSWORD }}
#       POSTGRES_HOST={{ db_secrets.POSTGRES_HOST }}
#       SECRET_KEY={{ db_secrets.SECRET_KEY }}
#       JWT_SECRET_KEY={{ db_secrets.JWT_SECRET_KEY }}


# - name: Deploy application via Docker Compose
#   community.docker.docker_compose_v2:
#     project_src: ./files
#     files: "{{ docker_compose_files[env] }}"
#     state: present
#     pull: always
#     env_files:
#       - /opt/app/.env



- name: Copy app files
  copy:
    src: "{{ docker_compose_files[env][0] }}"
    dest: /opt/app/
    owner: ubuntu
    group: ubuntu
    mode: '0644'

- name: Run docker compose
  command: docker compose up -d 
  args:
    chdir: /opt/app
  environment:
    POSTGRES_USER: "{{ db_secrets.DB_USER }}"
    POSTGRES_PASSWORD: "{{ db_secrets.DB_PASSWORD }}"
    POSTGRES_HOST: "{{ db_secrets.POSTGRES_HOST }}"
    SECRET_KEY: "{{ db_secrets.SECRET_KEY }}"
    JWT_SECRET_KEY: "{{ db_secrets.JWT_SECRET_KEY }}"

- name: Wait for API to be up
  command: curl -sf http://127.0.0.1:8080/health
  register: api_check
  retries: 10
  delay: 5
  until: api_check.rc == 0
