name: Filter updated Directories

on:
    workflow_call:
        outputs:
            dir_changed:
                description: 'Directories that have been changed'
                value: ${{ jobs.filter-updated-directories.outputs.dir_changed }}

jobs:
  filter-updated-directories:
    runs-on: ubuntu-24.04
    if: |
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'
    outputs:
        dir_changed: ${{ steps.filter_files.outputs.changes}}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Filter changed files
          id: filter_files
          uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
          with:
                filters: .github/workflows/utils/filefilter.yaml