# name: IAC Policy and Provision Resources

on:
    workflow_run:
      workflows:
        - Scan Container Images
      types:
        - completed

jobs:
  chekov-scan:
    runs-on: ubuntu-24.04
    if: |
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'
    permissions:
        contents: write
        id-token: write
    steps:
        - name: Checkout code
          uses: ./.github/actions/checkout

        - name: Run Checkov
          uses: bridgecrewio/checkov-action@99bb2caf247dfd9f03cf984373bc6043d4e32ebf
          with:
            directory: policies/checkov
            framework: terraform
            config_file: .checkov.yaml
            quiet: false
            output_format: 'cli'

  terraform:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    steps: 

        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
          with:
            terraform_version: "1.1.7"
            terraform_wrapper: false

        - name: Terraform Format
          run: terraform fmt -check

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
          with:
            role-to-assume: ${{ vars.AWS_SECRETS_ROLE_ARN }}
            aws-region: us-east-2

        - name: Fetch secrets
          run: |
            aws secretsmanager get-secret-value \
                --secret-id basic_secrets \
                --query SecretString \
                --output text

        - name: Load secrets
          run: |
                SECRET=$(aws secretsmanager get-secret-value \
                --secret-id basic_secrets \
                --query SecretString \
                --output text)
                echo "$SECRET" | jq -r 'to_entries|.[]|"echo \(.key)=\(.value) >> $GITHUB_ENV"' | bash

        - name: Terraform Plan
          env:
            ENVIRONMENT: ${{ github.ref_name }}
          run: |
            cd terraform/env/${ENVIRONMENT}
            terraform init
            terraform plan -out=tfplan
            terraform show -json tfplan > plan.json
        
        - name: OPA policy check
          run: opa eval  --input plan.json --data policy

        - name: Terraform Apply
          env:
            ENVIRONMENT: ${{ github.ref_name }}
          run: |
            cd terraform/env/${ENVIRONMENT}
            terraform apply -auto-approve




