name: Scan Container Images

on:
    workflow_run:
        workflows:
            - Build and Push Images to Docker Hub
        types:
            - completed

jobs:
  filter-updated-directories:
    uses: ./.github/workflows/filter_updated_dir.yaml
  
  trivvy-scan:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    permissions:
        contents: write
        id-token: write
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    concurrency:
      group: git-write-${{ github.ref_name }}-${{ matrix.dir_changed }}
      cancel-in-progress: false
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Setup jq and yq
          uses: ./.github/actions/install_jq_yp

        - name: cleanup service name
          id: svc
          uses: ./.github/actions/cleanup_service_name
          with:
            services: ${{ matrix.dir_changed }}

        - name: Get Image Details
          id: image_details
          run: |
            ENVIRONMENT="${{ github.ref_name }}"
            SERVICE_NAME="${{ steps.svc.outputs.SERVICE_NAME }}"
            TARGET_DIR="ansible/roles/docker/files/docker_compose/$ENVIRONMENT"
            TARGET_FILE="$TARGET_DIR/$SERVICE_NAME.json"

            echo "TARGET_FILE=$TARGET_FILE"

            SERVICE=$(jq -r '.service' "$TARGET_FILE")
            IMAGE_TAG=$(jq -r '.image_tag' "$TARGET_FILE")

            echo "SERVICE=$SERVICE"
            echo "IMAGE_TAG=$IMAGE_TAG"

            echo "SERVICE=$SERVICE" >> $GITHUB_OUTPUT
            echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT

        - name: Run Trivy vulnerability scanner
          uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
          with:
            image-ref: '${{ steps.image_details.outputs.IMAGE_TAG }}'
            format: 'table'
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
