name: Scan Container Images

on:
    workflow_run:
        workflows:
            - Build and Push Images to Docker Hub
        types:
            - completed

jobs:
  filter-updated-directories:
    runs-on: ubuntu-24.04
    if: |
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'
    outputs:
        dir_changed: ${{ steps.filter_files.outputs.changes}}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Filter changed files
          id: filter_files
          uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
          with:
                token: ${{ github.token || secrets.GITHUB_TOKEN }}
                filters: .github/workflows/utils/filefilter.yaml
  
  trivvy-scan:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    permissions:
        contents: write
        id-token: write
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    concurrency:
      group: git-write-${{ github.ref_name }}-${{ matrix.dir_changed }}
      cancel-in-progress: false
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
        
        - name: Install jq
          uses:  supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217
          with:
            uri: "https://github.com/jqlang/jq/releases/download/jq-1.8.1/jq-linux-amd64"
            name: "jq"
            version: "1.8.1"

        - name: Install yq
          uses:  supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217
          with:
            uri: "https://github.com/mikefarah/yq/releases/download/v4.50.1/yq_linux_amd64.tar.gz"
            name: "yq"
            version: v4.50.1

        - run: |
            jq --version
            yq --version

        - name: cleanup service name
          id: svc
          run: echo "SERVICE_NAME=$(echo '${{ matrix.dir_changed }}' | sed 's|.*/||')" >> $GITHUB_OUTPUT

        - name: Get Image Details
          id: image_details
          run: |
            ENVIRONMENT="${{ github.ref_name }}"
            SERVICE_NAME="${{ steps.svc.outputs.SERVICE_NAME }}"
            TARGET_DIR="utils/docker_compose/$ENVIRONMENT"
            TARGET_FILE="$TARGET_DIR/$SERVICE_NAME.json"

            echo "TARGET_FILE=$TARGET_FILE"

            SERVICE=$(jq -r '.service' "$TARGET_FILE")
            IMAGE_TAG=$(jq -r '.image_tag' "$TARGET_FILE")

            echo "SERVICE=$SERVICE"
            echo "IMAGE_TAG=$IMAGE_TAG"

            echo "SERVICE=$SERVICE" >> $GITHUB_OUTPUT
            echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT

        - name: Run Trivy vulnerability scanner
          uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
          with:
            image-ref: '${{ steps.image_details.outputs.IMAGE_TAG }}'
            format: 'table'
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
