name: Run unit tests

on:
    workflow_run:
        workflows: 
          - Semgrep and OWASP Dependency-Check
        types:
            - completed
    push:
        branches:
          - main
          - dev
    pull_request: 
        branches:
          - main
          - dev
        paths:
          - 'frontend/react-recoil/**'
          - 'backend/fastapi/**'
    workflow_dispatch:

jobs:
  filter-updated-directories:
    runs-on: ubuntu-24.04
    outputs:
        dir_changed: ${{ steps.filter_files.outputs.changes}}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1

        - name: Filter changed files
          id: filter_files
          uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
          with:
                token: ${{ github.token || secrets.GITHUB_TOKEN }}
                filters: .github/workflows/utils/filefilter.yaml

  test:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
        
        - name: Skip db test
          if: ${{ startsWith(matrix.dir_changed, 'backend/postgres_db') }}
          run: |
            echo "Skipping tests for database migrations."
            exit 0

        - name: Setup node environment
          if: ${{ startsWith(matrix.dir_changed, 'frontend/react-recoil') }}
          uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
          with:
              node-version-file: ${{matrix.dir_changed}}/package.json
              cache: 'yarn'
              cache-dependency-path: ${{matrix.dir_changed}}/package-lock.json

        - name: Setup python environment
          if: ${{ startsWith(matrix.dir_changed, 'backend/fastapi') }}
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
          with:
              python-version-file: ${{matrix.dir_changed}}/.python-version
              cache: 'pip'
              cache-dependency-path: |
                ${{matrix.dir_changed}}/requirements.txt
                ${{matrix.dir_changed}}/requirements-ci.txt

        - name: Install task
          uses:  supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217
          with:
            uri: "https://github.com/go-task/task/releases/download/v3.46.4/task_linux_amd64.tar.gz"
            name: "task"
            version: v3.46.4
        
        - name: Install app dependencies
          working-directory: ${{ matrix.dir_changed }}
          run: |
            task install_dependencies_ci

        - name: Run tests
          if: ${{ !startsWith(matrix.dir_changed, 'backend/postgres_db') }}
          working-directory: ${{ matrix.dir_changed }}
          run: |
            task test