name: Run unit tests

on:
    workflow_run:
        workflows: 
          - Semgrep and OWASP Dependency-Check
        types:
            - completed

jobs:
  filter-updated-directories:
    uses: ./.github/workflows/filter_updated_dir.yaml

  test:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter-updated-directories.outputs.dir_changed != '[]' && needs.filter-updated-directories.outputs.dir_changed != ''}}
    needs: filter-updated-directories
    strategy:
        fail-fast: false
        matrix:
            dir_changed: ${{ fromJson(needs.filter-updated-directories.outputs.dir_changed) }}
    steps:
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.1
        
        - name: Skip db test
          if: ${{ startsWith(matrix.dir_changed, 'backend/postgres_db') }}
          run: |
            echo "Skipping tests for database migrations."
            exit 0

        - name: Setup node environment
          if: ${{ startsWith(matrix.dir_changed, 'frontend/react-recoil') }}
          uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
          with:
              node-version-file: ${{matrix.dir_changed}}/package.json
              cache: 'yarn'
              cache-dependency-path: ${{matrix.dir_changed}}/package-lock.json

        - name: Setup python environment
          if: ${{ startsWith(matrix.dir_changed, 'backend/fastapi') }}
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
          with:
              python-version-file: ${{matrix.dir_changed}}/.python-version
              cache: 'pip'
              cache-dependency-path: |
                ${{matrix.dir_changed}}/requirements.txt
                ${{matrix.dir_changed}}/requirements-ci.txt

        - name: Install task
          uses:  ./.github/actions/install_task
        
        - name: Install app dependencies
          working-directory: ${{ matrix.dir_changed }}
          run: |
            task install_dependencies_ci

        - name: Run tests
          if: ${{ !startsWith(matrix.dir_changed, 'backend/postgres_db') }}
          working-directory: ${{ matrix.dir_changed }}
          run: |
            task test